.buttonsContainer {
    margin: 70px;
}

.responseContainer {
    display: flex;
    flex-direction: row;
    margin: 70px;
}

.imageContainer {
}

.image {
}

.textContainer{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
}

.text {
    width: 350px;
    margin-top: 20px;

}
.info {
}