.greetingForm {
    margin: 70px;
    font-family: 'Montserrat', serif;

}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;

}

.error {
    color: red;
}

.inputClass {
    display: flex;
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-right: 10px;
}

.input:focus {

}

.errorInput {
    border: 1px solid red;
    border-radius: 5px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    width: 78px;
    height: 36px;
    background: #0066CC;
    color: white;
    border-radius: 3px;
}

.button:focus {

}

.button:active {
    background-color: #0066CC
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
}
