.button {
    margin-left: 10px;
    overflow: hidden;
    padding: 5px 24px  5px 24px;
    gap: 10px;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.disabled {
    color: #002e5c;
    background: #004d99;
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    background: transparent;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.default {
    margin-top: 70px;
    background: #0066CC;

}

.red {
    background: #cc1439;
}

.default:hover {
    background: #0066CC;
}

.red:hover {
    background: #ff1a47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background:  #0059B3;
}

.secondary:active {
    background: #C9E5FF;
}

.red:active {
    background: #B31232;
}

.button:disabled {
    cursor: default;
}
